mixin q_onclick(q_num, q_choice, correct, num_choices, footer, uid)
  script.
    $('##{q_num}_#{q_choice}').on('click', function () {

      // vars
      var $btn = $(this).button('loading');
      var $panel = $btn.closest(".panel");

      $btn.button('reset');
      if ($panel.hasClass("frozen")) {
        return;
      } else {
        $panel.addClass("frozen");
      }

      // logs
      console.log('#{q_num},#{q_choice} was clicked');

      // visual
      var choice = "#{q_choice}";
      var num_choices = #{num_choices};
      var correct_choice = "#{correct}";
      var correct = (choice == correct_choice);
      if (correct) {
        $panel.toggleClass('panel-info panel-success');
      } else {
        $panel.toggleClass('panel-info panel-danger');
      }
      for (var i = 0; i < num_choices; i++) {
        if (i==correct_choice) {
          $('##{q_num}_'+i).toggleClass('btn-default btn-success');
        } else if (i==choice) {
          $('##{q_num}_'+i).toggleClass('btn-default btn-warning');
        }
      }
      $panel.append('<div class="panel-footer">!{footer}</div>');

      // data store
      var uid = #{uid};
      var data = {uid: uid, q_num: #{q_num}, q_choice: "#{q_choice}" };
      $.ajax({
        url: '/quiz/choice',
        type: 'PUT',
        data: data,
      });
    })


mixin question(q, q_idx, uid)
  br
  div.panel.panel-info(id="panel_"+q.num)
    div.panel-heading
      h3.panel-title Question #{q_idx+1} -- !{q.question}
    div.panel-body
      div.btn-group.btn-group-justified(role="group", id=("q_"+q.num), aria-label="...")
        each choice, c_idx in q.choices
          div.btn-group(role="group")
            button.btn.btn-default.question(type="button", id=(q.num+"_"+c_idx), white-space="normal", word-wrap="break-word" )= choice
            +q_onclick(q.num, c_idx, q.correct_choice, q.num_choices, q.footer, uid)

